nav.nav 
    .nav__wrapper
        a.nav__logo(href='/')
            | Millers Ponit Penthouse

            svg.nav__logo__icon 

        ul.nav__list 
            li.nav__list__item 
                a.nav__list__link(href='') Booking 

            li.nav__list__item 
                a.nav__list__link(href='') Altstadt

            li.nav__list__item 
                a.nav__list__link(href='') Stadsmitte

        a.nav__menu__btn(href='/') 
            .nav__menu__label-container
                span.nav__menu__label Menu
            
            //Hamburger icon
            .nav__menu__icon-container
                .nav__menu__icon
                    .nav__menu__icon-stroke
                    .nav__menu__icon-stroke
                    .nav__menu__icon-stroke
    
    // Page that contains the stuff when menu is opened
    .nav__menu