nav.navigation 
    .navigation__wrapper
        a.navigation__link(href='/')
            | Millers Ponit Penthouse

            svg.navigation__link__icon 

        ul.navigation__list 
            li.navigation__list__item 
                a.navigation__list__link(href='') Booking 

            li.navigation__list__item 
                a.navigation__list__link(href='') Altstadt

            li.navigation__list__item 
                a.navigation__list__link(href='') Stadsmitte

        a.navigation__menu__btn(href='/') 
            | Menu 

            svg.navigation__menu__icon