doctype html
html(lang="en")
    head
        include ./views/partials/head
        include ./views/partials/noscript
        
    body 
        // To include all SVGs as an sprite
        //- svg 
        
        main.app
    
            include ./views/partials/preloader
            include ./views/partials/navigation

            // To implement smooth-scrolling
            .app__wrapper

                // Sections of the homepage
                include ./views/sections/hero
                include ./views/sections/slider

                include ./views/sections/text-section1
                include ./views/sections/spotlight
                include ./views/sections/marquee
                include ./views/sections/ethos

                include ./views/sections/text-section2
                include ./views/sections/flow
                include ./views/sections/standard
                include ./views/sections/carousel
                
                include ./views/sections/text-section3
                include ./views/sections/video
                include ./views/sections/newsletter
                include ./views/sections/footer

        script(src="main.js") 