section.carousel
    .carousel__background 
        picture
            source(srcset='images/webp/1.webp' type='image/webp')
            source(srcset='images/jpg/1.jpg' type='image/jpeg')
            img(src='images/jpg/1.jpg' alt='carousel image' loading='lazy')

    .carousel__content 
        .carousel__headings
            .carousel__heading.current
                .splitting
                    .splitText 
                        .lineMask
                            span.lineWord Designing
                        .lineMask
                            span.lineWord Kitchen and
                        .lineMask
                            span.lineWord Master Ensuite
            .carousel__heading
                .splitting
                    .splitText 
                        .lineMask
                            span.lineWord Gradual
                        .lineMask
                            span.lineWord Delightful
                        .lineMask
                            span.lineWord Discovery
            .carousel__heading
                .splitting
                    .splitText 
                        .lineMask
                            span.lineWord Selection of
                        .lineMask
                            span.lineWord Understated
                        .lineMask
                            span.lineWord Marble

        .carousel__texts
            .carousel__text.current
                p
                    | A black steel band supporting the kitchen island 
                    br
                    | bench pays homage to the harbour bridge whilst 
                    br
                    | fluted tiles replicate the visual pattern of the 
                    br
                    | waves below.

            .carousel__text
                p
                    | The idea of gradual, delightful discovery is 
                    br
                    | completely realised with the repeated use of 
                    br
                    | concealed lighting.

            .carousel__text
                p
                    | The marble slabs used in the master ensuite have
                    br
                    | strong veining in allusion to the movement of the
                    br
                    | clouds, contributing to an intimate and dramatic 
                    br
                    | space that acts as a refuge from the city.

        //Carousel Controls
        .carousel__arrows
            span.carousel__arrow.carousel__arrow--left
                svg(viewbox='0 0 15 10' fill='none')
                    path(d='M15 5L1.5 5M1.5 5L5.79032 1M1.5 5L5.79032 9' stroke='#242b2d')
                svg(viewbox='0 0 15 10' fill='none')
                    path(d='M15 5L1.5 5M1.5 5L5.79032 1M1.5 5L5.79032 9' stroke='#242b2d')

            span.carousel__arrow.carousel__arrow--right
                svg(viewbox='0 0 15 10' fill='none')
                    path(d='M0 5L13.5 5M13.5 5L9.20968 9M13.5 5L9.20968 1' stroke='#242b2d')
                svg(viewbox='0 0 15 10' fill='none')
                    path(d='M0 5L13.5 5M13.5 5L9.20968 9M13.5 5L9.20968 1' stroke='#242b2d')