section.carousel
    .carousel__wrapper 
        .carousel__background 
            .carousel__background__image

        .carousel__content 
            .carousel__headings
                .carousel__heading.current
                    p
                    | Designing
                    | Kitchen and
                    | Master Ensuite
                .carousel__heading
                    p
                    | Designing
                    | Kitchen and
                    | Master Ensuite
                .carousel__heading
                    p
                    | Designing
                    | Kitchen and
                    | Master Ensuite

            .carousel__texts
                .carousel__text.current
                    p
                    | A black steel band supporting the kitchen island 
                    | bench pays homage to the harbour bridge whilst 
                    | fluted tiles replicate the visual pattern of the 
                    | waves below.

                .carousel__text
                    p
                    | A black steel band supporting the kitchen island 
                    | bench pays homage to the harbour bridge whilst 
                    | fluted tiles replicate the visual pattern of the 
                    | waves below.

                .carousel__text
                    p
                    | A black steel band supporting the kitchen island 
                    | bench pays homage to the harbour bridge whilst 
                    | fluted tiles replicate the visual pattern of the 
                    | waves below.

            //Carousel Controls
            .carousel__arrows
                span.carousel__arrow.carousel__arrow--left
                    svg
                span.carousel__arrow.carousel__arrow--right
                    svg