section.ethos
    .ethos__wrapper 
        .ethos__images
            .ethos__img
                picture
                    source(srcset='images/webp/7.webp' type='image/webp')
                    source(srcset='images/jpg/7.jpg' type='image/jpeg')
                    img(src='images/jpg/7.jpg' alt='image 1 of ethos')

            .ethos__img 
                picture
                    source(srcset='images/webp/10.webp' type='image/webp')
                    source(srcset='images/jpg/10.jpg' type='image/jpeg')
                    img(src='images/jpg/10.jpg' alt='image 1 of ethos')

        .ethos__content 
            span.ethos__subtitle Our ethos 
            
            p.ethos__heading 
                | Effortless 
                br
                | Chic Lifestyle
            
            p.ethos__description
                | Settled within a historic part of Sydney, Millers Point 
                br
                | Penthouse sits 28 storeys high overlooking the city 
                br
                | harbour. In contrast to the stilted atmosphere of the 
                br
                | pre-existing apartment, the renovated dwelling is a 
                br
                | space of unhurried motion, filled with subtle references 
                br
                | to the natural and urban setting. 
            
            p.ethos__description
                | By removing and reintroducing internal walls, Studio 
                br
                | Barbara is able to pair the interior architecture of the 
                br
                | home with carefully layered decorative details, creating 
                br
                | an immersive residential experience.
