section.ethos
    .ethos__wrapper 
        .ethos__images
            .ethos__image__item 
                img(src="1.jpg", alt="image 1 of ethos")
            .ethos__image__item 
                img(src="1.jpg", alt="image 2 of ethos")

        .ethos__content 
            span.ethos__content__subtitle Our ethos 
            
            p.ethos__content__heading 
            | Effortless 
            | Chic Lifestyle
            
            p.ethos__content__description
            | Settled within a historic part of Sydney, Millers Point 
            | Penthouse sits 28 storeys high overlooking the city 
            | harbour. In contrast to the stilted atmosphere of the 
            | pre-existing apartment, the renovated dwelling is a 
            | space of unhurried motion, filled with subtle references 
            | to the natural and urban setting. 
            
            p.ethos__content__description
            | By removing and reintroducing internal walls, Studio 
            | Barbara is able to pair the interior architecture of the 
            | home with carefully layered decorative details, creating 
            | an immersive residential experience.
