section.flow
    .flow__wrapper
        span.flow__border 

        .flow__content 
            p.flow__heading
            | Seven new 
            | city icons.
            
            p.flow__body
            | Carefully controlling the flow of spaces, Studio Barbara 
            | seamlessly transitions residents from the frenetic pace 
            | of the city to the steady rhythm of a domestic environment. 
            | A well-placed wall at the entrance to the apartment delays 
            | the moment that the view of the city is revealed, allowing 
            | residents to prepare for a change of scene. The idea of 
            | gradual, delightful discovery is completely realised 
            | with the repeated use of concealed lighting.

        .flow__images
            .flow__image
            .flow__image
