section.flow
    .flow__content 
        p.flow__heading
            | Seven new 
            br
            | city icons.
        
        p.flow__body
            | Carefully controlling the flow of spaces, Studio Barbara 
            br
            | seamlessly transitions residents from the frenetic pace 
            br
            | of the city to the steady rhythm of a domestic environment. 
            br
            | A well-placed wall at the entrance to the apartment delays 
            br
            | the moment that the view of the city is revealed, allowing 
            br
            | residents to prepare for a change of scene. The idea of 
            br
            | gradual, delightful discovery is completely realised 
            br
            | with the repeated use of concealed lighting.

    .flow__images
        .flow__image
            picture
                source(srcset='images/webp/8.webp' type='image/webp')
                source(srcset='images/jpg/8.jpg' type='image/jpeg')
                img(src='images/jpg/8.jpg' alt='flow image 1' loading='lazy')

        .flow__image
            picture
                source(srcset='images/webp/9.webp' type='image/webp')
                source(srcset='images/jpg/9.jpg' type='image/jpeg')
                img(src='images/jpg/9.jpg' alt='flow image 2' loading='lazy')