section.flow
    .flow__wrapper
        span.flow__border 

        .flow__content 
            p.flow__heading
                | Seven new 
                br
                | city icons.
            
            p.flow__body
                | Carefully controlling the flow of spaces, Studio Barbara 
                br
                | seamlessly transitions residents from the frenetic pace 
                br
                | of the city to the steady rhythm of a domestic environment. 
                br
                | A well-placed wall at the entrance to the apartment delays 
                br
                | the moment that the view of the city is revealed, allowing 
                br
                | residents to prepare for a change of scene. The idea of 
                br
                | gradual, delightful discovery is completely realised 
                br
                | with the repeated use of concealed lighting.

        .flow__images
            .flow__image
                img(src="images/webp/8.webp", alt="flow image 1")
            .flow__image
                img(src="images/webp/9.webp", alt="flow image 2")
