footer.footer 
    .footer__wrapper
        .footer__list__container
            p.footer__list__name Website
            ul.footer__list
                li.footer__link 
                    a.underline(href="/") Products
                li.footer__link 
                    a.underline(href="/") Technology
                li.footer__link 
                    a.underline(href="/") About and Careers
                li.footer__link 
                    a.underline(href="/") Visualizer
                li.footer__link 
                    a.underline(href="/") Dealer locator
                li.footer__link 
                    a.underline(href="/") Care and Maintenance
                li.footer__link 
                    a.underline(href="/") Contact

        .footer__list__container
            p.footer__list__name Follow Us
            ul.footer__list
                li.footer__link 
                    a.underline(href="https://facebook.com" target="_blank") Facebook
                li.footer__link 
                    a.underline(href="https://twitter.com" target="_blank") Twitter
                li.footer__link 
                    a.underline(href="https://instagram.com" target="_blank") Instagram
                li.footer__link 
                    a.underline(href="https://youtube.com" target="_blank") YouTube

    .footer__bottom
        ul.footer__legals
            li.footer__legals__item.underline
                a(href="/").footer__legals__link Privacy Policy
            li.footer__legals__item.underline
                a(href="/").footer__legals__link Terms of Use
            li.footer__legals__item.underline
                a(href="/").footer__legals__link Terms &amp; Conditions

        a.footer__developer.underline(href="https://deepakgangwar.me" target="_blank")
            p Website by Deepak Gangwar 