footer.footer 
    .footer__wrapper
        .footer__list__container
            h6.footer__list__name Website
            ul.footer__list
                li.footer__link 
                    a(href="") Products
                li.footer__link 
                    a(href="") Technology
                li.footer__link 
                    a(href="") About and Careers
                li.footer__link 
                    a(href="") Visualizer
                li.footer__link 
                    a(href="") Dealer locator
                li.footer__link 
                    a(href="") Care and Maintenance
                li.footer__link 
                    a(href="") Contact

        .footer__list__container
            h6.footer__list__name Follow Us
            ul.footer__list
                li.footer__link 
                    a(href="") Facebook
                li.footer__link 
                    a(href="") Twitter
                li.footer__link 
                    a(href="") Instagram
                li.footer__link 
                    a(href="") YouTube

    .footer__bottom
        ul.footer__legals
            li.footer__legals__item
                a(href="/").footer__legals__link Privacy Policy
            li.footer__legals__item
                a(href="/").footer__legals__link Terms of Use
            li.footer__legals__item
                a(href="/").footer__legals__link Terms &amp; Conditions

        a.footer__developer(href="")
            p Website by Deepak Gangwar 