section.hero 
    .hero__wrapper
        .hero__title__wrapper
            h1.hero__title 
                | Millers Point Penthouse
        .hero__title__wrapper
            h1.hero__title
                | by Studio Barbara

        p.hero__subtitle 
            | The Local Project