section.marquee     
    .marquee__wrapper   
        .headline 
            .headline--1
                .headline__inner
                    .headline__inner__item Mink 
                    .headline__inner__item Veener 
                    .headline__inner__item by 
                    .headline__inner__item Elton 
                    .headline__inner__item Group 
                    .headline__inner__item as 
                    .headline__inner__item a 
                    .headline__inner__item point 
                    .headline__inner__item of 
                    .headline__inner__item material 
                    .headline__inner__item consistency

            .headline--2
                .headline__inner
                    .headline__inner__item Mink 
                    .headline__inner__item Veener 
                    .headline__inner__item by 
                    .headline__inner__item Elton 
                    .headline__inner__item Group 
                    .headline__inner__item as 
                    .headline__inner__item a 
                    .headline__inner__item point 
                    .headline__inner__item of 
                    .headline__inner__item material 
                    .headline__inner__item consistency