section.marquee
    .marquee__wrapper
        .headline
            | Mink Veener by Elton Group as a point of material consistency. Mink Veener by Elton Group as a point of material consistency.
        .headline
            | Mink Veener by Elton Group as a point of material consistency. Mink Veener by Elton Group as a point of material consistency.

    .marquee__wrapper
        .headline
            | roup as a point of material consistency. Mink Veener by Elton Group as a point of material consistency. Mink Veener by Elton G
        .headline
            | roup as a point of material consistency. Mink Veener by Elton Group as a point of material consistency. Mink Veener by Elton G