section.marquee     
    .marquee__wrapper   
        .headline 
            .headline--1
                .headline__inner
                    .headline__inner__item Mink Veener by Elton Group as a point of material consistency
                    .headline__inner__item Mink Veener by Elton Group as a point of material consistency
            .headline--2
                .headline__inner
                    .headline__inner__item Mink Veener by Elton Group as a point of material consistency
                    .headline__inner__item Mink Veener by Elton Group as a point of material consistency