section.newsletter
    .newsletter__wrapper 
        h5.newsletter__content 
        | For the latest news, subscribe 
        | here.

        .newsletter__signup
            input(type="email", placeholder="Please enter your email once" value).newsletter__input
            
            .newsletter__submit 
                svg

            .newsletter__messages
                .newsletter__message.newsletter__messages--success
                .newsletter__message.newsletter__messages--error