section.section-2
    .section-2__wrapper 
        p.section-2__heading
        | A warm and curvilinear home, Millers Point
        | Penthouse proposes a softer aspect to
        | urban living.

        p.section-2__description
        | Collaborating with Elton Group, Studio Barbara revives a 
        | previously dated apartment in the heart of Sydney’s CBD.