.slider 
    .slider__wrapper 
        .slider__item 
            img(src="images/webp/5.webp", alt="item-1")
        .slider__item 
            img(src="images/webp/10.webp", alt="item-2")
        .slider__item 
            img(src="images/webp/11.webp", alt="item-3")
        .slider__item 
            img(src="images/webp/6.webp", alt="item-4")
        .slider__item 
            img(src="images/webp/9.webp", alt="item-5")