.slider 
    .slider__wrapper 
        .slider__item 
            img(src="1.jpg", alt="item-1")
        .slider__item 
            img(src="1.jpg", alt="item-2")
        .slider__item 
            img(src="1.jpg", alt="item-3")
        .slider__item 
            img(src="1.jpg", alt="item-4")
        .slider__item 
            img(src="1.jpg", alt="item-5")