.slider 
    .slider__wrapper 
        .slider__item 
            img(src="https://d31dpzy4bseog7.cloudfront.net/media/2022/02/21113308/Millers-Point-Penthouse-by-Studio-Barbara-Video-Feature-The-Local-Project-Image-07.jpg", alt="item-1")
        .slider__item 
            img(src="https://d31dpzy4bseog7.cloudfront.net/media/2022/02/21113810/Millers-Point-Penthouse-by-Studio-Barbara-Video-Feature-The-Local-Project-Image-21-min.jpeg", alt="item-2")
        .slider__item 
            img(src="https://d31dpzy4bseog7.cloudfront.net/media/2022/02/21113058/Millers-Point-Penthouse-by-Studio-Barbara-Video-Feature-The-Local-Project-Image-24.jpg", alt="item-3")
        .slider__item 
            img(src="https://d31dpzy4bseog7.cloudfront.net/media/2022/02/21113434/Millers-Point-Penthouse-by-Studio-Barbara-Video-Feature-The-Local-Project-Image-11.jpg", alt="item-4")
        .slider__item 
            img(src="https://d31dpzy4bseog7.cloudfront.net/media/2022/02/21113635/Millers-Point-Penthouse-by-Studio-Barbara-Video-Feature-The-Local-Project-Image-18.jpg", alt="item-5")