section.slider 
    .slider__wrapper 
        .slider__item 
            picture
                source(srcset='images/webp/5.webp' type='image/webp')
                source(srcset='images/jpg/5.jpg' type='image/jpeg')
                img(src='images/jpg/5.jpg' alt='item-1')
        .slider__item
            picture
                source(srcset='images/webp/10.webp' type='image/webp')
                source(srcset='images/jpg/10.jpg' type='image/jpeg')
                img(src='images/jpg/10.jpg' alt='item-2')
        .slider__item 
            picture
                source(srcset='images/webp/3.webp' type='image/webp')
                source(srcset='images/jpg/3.jpg' type='image/jpeg')
                img(src='images/jpg/3.jpg' alt='item-3')
        .slider__item 
            picture
                source(srcset='images/webp/6.webp' type='image/webp')
                source(srcset='images/jpg/6.jpg' type='image/jpeg')
                img(src='images/jpg/6.jpg' alt='item-4')
        .slider__item 
            picture
                source(srcset='images/webp/9.webp' type='image/webp')
                source(srcset='images/jpg/9.jpg' type='image/jpeg')
                img(src='images/jpg/9.jpg' alt='item-5')