section.spotlight
    .spotlight__wrapper 
        span.spotlight__subtitle Spotlight 

        p.spotlight__title
            | Mink Veener 
            br
            | by Elton Group

        .spotlight__slider 

            .spotlight__slider__controls 
                span.slider__control--left
                    svg 
                span.slider__control--right
                    svg 

            ul.spotlight__slider__items
                li.spotlight__slider__item
                    .slider__item__container
                        img(src="images/webp/3.webp", alt="image 1 of slider" height="254")
                li.spotlight__slider__item
                    .slider__item__container
                        img(src="images/webp/2.webp", alt="image 2 of slider" height="600")
                li.spotlight__slider__item
                    .slider__item__container
                        img(src="images/webp/4.webp", alt="image 3 of slider" height="420")