section.standard
    .standard__wrapper 
        span.standard__subtitle Iconic living. Own it. 
        
        p.standard__heading
        | Don't settle for
        | standard.
        | Settle for a life less
        | ordinary.
        
        p.standard__body
        | Mink veneer by Elton Group is used as a point 
        | of material consistency throughout Millers 
        | Point Penthouse, guiding residents through 
        | the apartment and softening the interior with 
        | its muted walnut tone. In the hands of a skilled 
        | joiner, the timber creates curved forms that 
        | define the home – found in the treatment of the 
        | stairwell, joinery and bulkheads, for instance – 
        | abstractly referencing Sydney harbour and the 
        | undulating hills of the landscape.