section.standard
    .standard__wrapper 
        span.standard__subtitle Iconic living. Own it. 
        
        .standard__content
            p.standard__heading
                | Don't settle for
                br
                | standard.
                br
                | Settle for a life less
                br
                | ordinary.
        
            p.standard__body
                | Mink veneer by Elton Group is used as a point 
                br
                | of material consistency throughout Millers 
                br
                | Point Penthouse, guiding residents through 
                br
                | the apartment and softening the interior with 
                br
                | its muted walnut tone. In the hands of a skilled 
                br
                | joiner, the timber creates curved forms that 
                br
                | define the home – found in the treatment of the 
                br
                | stairwell, joinery and bulkheads, for instance – 
                br
                | abstractly referencing Sydney harbour and the 
                br
                | undulating hills of the landscape.