section.text-section.text-section3
    .text-section__wrapper 
        p.text-section__heading
            | Millers Point Penthouse represents a 
            br
            | sophisticated interpretation of Sydney 
            br
            | apartment living. 

        p.text-section__description
            | Translating the movement of the city into a designed landscape of curves, 
            br
            | Studio Barbara creates a home that is both connected to its location and 
            br
            | blissfully removed.