section.text-section.text-section3
    .text-section__wrapper 
        p.text-section__heading
        | Millers Point Penthouse represents a 
        | sophisticated interpretation of Sydney 
        | apartment living. 

        p.text-section__description
        | Translating the movement of the city into a designed landscape of curves, 
        | Studio Barbara creates a home that is both connected to its location and 
        | blissfully removed.