section.text-section
    p.text-section__heading
        | The idea of gradual, delightful discovery
        br
        | is completely realised with the repeated 
        br
        | use of concealed lighting.

    p.text-section__description
        | A selection of understated marble creates a symphonic tonal interplay in the kitchen. 
        br
        | In contrast, the marble slabs used in the master ensuite have strong veining in allusion to the 
        br
        | movement of the clouds, contributing to an intimate and dramatic space that acts as a 
        br
        | refuge from the city.