section.text-section.text-section1
    .text-section__wrapper 
        p.text-section__heading
        | A warm and curvilinear home, Millers Point
        | Penthouse proposes a softer aspect to
        | urban living.

        p.text-section__description
        | Collaborating with Elton Group, Studio Barbara revives a 
        | previously dated apartment in the heart of Sydney’s CBD.