section.video 
    .video__content 
        video.lazy(autoplay playsinline disablepictureinpicture loop="loop" muted="muted" oncontextmenu="return false;") 
            source(data-src="preview.mp4" type="video/mp4")

    .video__cursor
        span Play