.nav {
    padding: 3.3vw 5vw;
}

@media only screen and (max-width: 480px) {
    .nav {
        padding: 0;
        margin: 25px;
    }
}

.nav__wrapper,
.nav__left,
.nav__list,
.nav__menu__btn,
.nav__menu__icon {
    display: flex;
}

.nav__wrapper {
    justify-content: space-between;
}

.nav__left {
    text-transform: uppercase;
    font-size: $font-vw-xs;
}

@media only screen and (max-width: 480px) {
    .nav__list {
        display: none;
    }
}

.nav__list__item {
    margin: auto;
}

.nav__list__item:first-child {
    opacity: 0.66;
}

.nav__list__link {
    margin-left: 1vw;
}

.nav__menu__btn {
    margin-left: 3vw;
}

@media only screen and (max-width: 480px) {
    .nav__menu__btn {
        margin: 0;
    }
}
  
.nav__menu__label-container {
    margin: auto;
}

@media only screen and (max-width: 480px) {
    .nav__menu__label-container {
        display: none;
    }
}

//Hamburger icon 

.icon {
	position: relative;
    width: 4.8vw;
    height: 4.8vw;
    margin: auto;
	margin-left: 3.2vw;
/*     will-change: transform; */
}

@media only screen and (min-width: 601px) {
	.icon {
        width: 1.25vw;
    	height: 1.25vw;
		margin-left: 0.83333vw;
        display: flex;
        align-items: center;
	}
}

.icon-burger {
	position: absolute;
    width: 4.8vw;
    height: 3.2vw;
}

@media only screen and (min-width: 601px) {
	.icon-burger {
		width: 1.25vw;
    	height: 0.83333vw;
	}
}