.nav {
    width: 100vw;
    padding: 3.3vw 5vw;
    background-color: $color-primary;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 480px) {
    .nav {
        width: initial;
        padding: 0;
        margin: 25px;
    }
}

.nav__wrapper,
.nav__left,
.nav__list,
.nav__menu__btn,
.nav__menu__icon {
    display: flex;
}

.nav__wrapper {
    justify-content: space-between;
}

.nav__left {
    text-transform: uppercase;
    font-size: 0.8vw;
}

@media only screen and (max-width: 480px) {
    .nav__list {
        display: none;
    }
}
  
.nav__list__item:first-child {
    opacity: 0.66;
}

.nav__list__link {
    margin-left: 1vw;
}

.nav__menu__btn {
    margin-left: 3vw;
}

@media only screen and (max-width: 480px) {
    .nav__menu__btn {
        margin: 0;
    }
}
  
.nav__menu__label-container {
    margin: auto;
}

@media only screen and (max-width: 480px) {
    .nav__menu__label-container {
        display: none;
    }
}

//Hamburger icon 

.nav__menu__icon-container {
    margin: auto;
    margin-left: 1vw;
}

.nav__menu__icon {
    flex-direction: column;
}

@media only screen and (max-width: 480px) {
    .nav__menu__icon {
        margin-bottom: 4px;
    }
}
  
.nav__menu__icon-stroke {
    width: 1.4vw;
    height: 0.2vw;
    margin: 0.1vw 0;
    background-color: $color-accent;
}

@media only screen and (max-width: 480px) {
    .nav__menu__icon-stroke {
        width: 5.5vw;
        height: 2px;
        margin: 1px 0;
    }
}