$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

// Theming
$color-primary: rgb(244, 244, 242);
$color-accent: rgb(36, 43, 45);
$color-orange: rgb(171, 174, 168);

// Font
$suisse: 'Suisse Intl';

// Easings
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
    'noscript',
    'preloader',
    'cursor',
    'navigation',
    'content',
    'cases',
    'canvas',
);