body {
    background-color: $color-primary;
    color: $color-accent;
    font-family: $suisse;
    overflow-x: hidden;
    overflow-y: hidden;
}

ol, ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

image, picture {
    object-fit: cover;
}

@media only screen and (max-width: 480px) {
    br {
        display: none;
    }
}

.underline {
    will-change: transform;
    position: relative;
}

.underline:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    will-change: transform;
    background: currentColor;
    opacity: 0.6;
    transform-origin: right center;
    transition: transform .5s cubic-bezier(1,0,0,1);
}

@media (hover: hover) {
    .underline:hover:after {
        transform:scaleX(1);
        transform-origin: left center;
    }
}
