// section {
//     height: 100vh;
// }

body {
    background-color: $color-primary;
    color: $color-accent;
    font-family: $suisse;
    // letter-spacing: -1px;
}

ol, ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}