body {
    background-color: $color-primary;
    color: $color-accent;
    font-family: $suisse;
}

ol, ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

image, picture {
    object-fit: cover;
}

@media only screen and (max-width: 480px) {
    br {
        display: none;
    }
}