@font-face {
    font-family: 'Suisse Intl';
    src: url('../assets/fonts/suisse_intl-regular.woff2') format('woff2'),
        url('../assets/fonts/suisse_intl-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}