.carousel {
    height: calc(100vh + 41.66667vw);
    min-height: 118.7499999924vw;
    position: relative;
}

.carousel__background {
    height: 100%;
    background: $color-lightgray;
}

.carousel__background img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel__content  {
    background-color: $color-orange;
    height: 100vh;
    width: 66.6666666624vw;
    min-height: 55.555555552vw;
    padding: 7.4999999995vw 9.3749999994vw 4.6527777775vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 480px) {
    .carousel__content {
        height: auto;
    }
}

.carousel__headings {
    height: 17.2916666656vw;
    position: relative;
}

.carousel__heading {
    color: $color-accent;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

@media only screen and (max-width: 480px) {
    .carousel__heading {
        font-size: $font-rem-l;
        line-height: 1.25;
    }
}

.carousel__heading.current {
    display: block;
    font-size: $font-vw-xxl;
    letter-spacing: -0.15vw;
    line-height: 1;
}

.carousel__texts {
    height: 11.1111111104vw;
    margin-bottom: 1.736111111vw;
    margin-top: 9vw;
    position: relative;
}

.carousel__text {
    color: $color-accent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 1.111111111vw;
    line-height: 2;
    display: none;
    will-change: opacity;
    transition: opacity 1.6s cubic-bezier(.165,.84,.44,1) 1s;
}

@media only screen and (max-width: 480px) {
    .carousel__text {
        font-size: $font-rem-s;
        margin-right: 30vw;
    }
}

.carousel__text.current {
  display: block;
}

.carousel__arrows {
    display: flex;
    justify-content: space-between;
    height: 3.7499999998vw;
    width: 8.1597222217vw;
}

@media only screen and (max-width: 480px) {
    .carousel__arrows {
        height: 14vw;
        width: 28vw;
        margin-top: 60%
    }
}

.carousel__arrow {
    border: 0.0694444444vw solid hsla(192,20%,17%,.2);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 3.7499999998vw;
    position: relative;
    overflow: hidden;
    transition: border .6s cubic-bezier(.165,.84,.44,1);

    &:hover {
        border: 0.0694444444vw solid hsla(192,20%,17%,0.8);
    }
}

@media only screen and (max-width: 480px) {
    .carousel__arrow {
        width: 14vw;
    }
}

.carousel__arrow > svg {
    width: 30%;
    position: absolute;
    top: 50%;
    transition: transform .6s cubic-bezier(.165,.84,.44,1);
    transform: translateY(-50%);
}

// Left arrow
.carousel__arrow--left > svg:nth-child(2) {
    transform: translate(300%, -50%);
}

.carousel__arrow--left:hover > svg:nth-child(1) {
    transform: translate(-300%, -50%);
}

.carousel__arrow--left:hover > svg:nth-child(2) {
    transform: translate(0, -50%);
}

// Right arrow
.carousel__arrow--right > svg:nth-child(2) {
    transform: translate(-300%, -50%);
}

.carousel__arrow--right:hover > svg:nth-child(1) {
    transform: translate(300%, -50%);
}

.carousel__arrow--right:hover > svg:nth-child(2) {
    transform: translate(0, -50%);
}