.flow {
  margin: 1.5vw;
  border-top: 1px solid $color-orange;
  padding-top: 3vw;
}

@media only screen and (max-width: 480px) {
  .flow {
    margin: 25px;
  }
}

.flow__content {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3.6vw 0 7vw;
}

.flow__heading {
  font-size: $font-vw-l;
  line-height: 1.3;
  letter-spacing: -.05vw;
}

@media only screen and (max-width: 480px) {
  .flow__heading {
    font-size: $font-rem-l;
    line-height: 2;
  }
}

.flow__body {
  font-size: $font-vw-s;
  letter-spacing: .02em;
  line-height: 2;
}

@media only screen and (max-width: 480px) {
  .flow__body {
    font-size: $font-rem-s;
    margin-right: 10vw;
  }
}

.flow__images {
  height: 100vh;
  display: flex;
  gap: 1.5vw;
}

@media only screen and (max-width: 480px) {
  .flow__images {
    height: 50vh;
  }
}

.flow__image {
  background: $color-lightgray;
}

.flow__image:nth-child(1) {
  width: 66.66666666vw;
}

.flow__image:nth-child(2) {
  width: 33.33333333vw;
}

.flow__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}