.footer {
    // height: 110vh;
    padding-bottom: 5vw;
    padding-top: 5.3472222219vw;
    position: relative;
    color: $color-accent;
}

@media only screen and (max-width: 480px) {
    .footer {
        margin: 25px;
        padding-bottom: 13.7499999998vw;
        height: fit-content;
    }
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 2.7777777778vw;
    width: 46.5277777777vw;
}

@media only screen and (max-width: 480px) {
    .footer__wrapper {
        flex-direction: column;
        margin-right: 0;
        width: 50%;
    }
}

.footer__list__container  {
    margin-bottom: 13.5416666658vw;
    width: 22.5694444444vw;
}

@media only screen and (max-width: 480px) {
    .footer__list__container {
        width: auto;
    }
}

.footer__list__name {
    font-size: 1.9444444444vw;
    margin-bottom: 1.9444444443vw;
    padding-bottom: 0.9027777777vw;
    position: relative;
}

@media only screen and (max-width: 480px) {
    .footer__list__name {
        font-size: 1.6rem;
        line-height: 1.25;
        margin-top: 10vw;
    }
}

.footer__list__name::after {
    background-color: rgba(76,75,66,.15);
    content: "";
    width: 100%;
    height: 0.0694444444vw;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer__list {
    padding-left: 0;
}

.footer__link  {
    font-size: .9722222222vw;
    line-height: 2.57;
}

@media only screen and (max-width: 480px) {
    .footer__link {
        font-size: 0.5rem;
    }
}

.footer__link>a {
    color: inherit;
    text-decoration: none;
    transition: opacity .6s cubic-bezier(.165,.84,.44,1);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 94.4444444443vw;
    font-size: .6944444444vw;
    letter-spacing: .06em;
    line-height: 2.2;
    text-transform: uppercase;
    padding-bottom: 0.833333333vw;
}

@media only screen and (max-width: 480px) {
    .footer__bottom {
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: auto;
        font-size: 0.5rem;
    }

    // to make tap targets of appropriate size
    .footer__legals {
        margin-top: 18px;
        margin-bottom: 18px;
    }
}

.footer__legals {
    display: flex;
    padding-left: 0;
}

@media only screen and (max-width: 480px) {
    .footer__legals {
        width: 100%;
        justify-content: space-evenly;
    }
}


.footer__legals__item {
    margin-right: 1.2499999999vw;
}


@media only screen and (max-width: 480px) {
    .footer__legals__item {
        margin-right: 0;
    }
}

.footer__developer {
    // I dont think we need these styles in desktop
    // we don't need them in mobile for sure
    align-items: center;
    display: flex;
    justify-self: flex-end;
    margin-top: auto;
}

@media only screen and (max-width: 480px) {
    .footer__developer {
        display: block;
        text-align: center;
        // margin-bottom: 10vw;
    }
}
