.hero {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

@media only screen and (max-width: 480px) {
    .hero {
        margin: 0 25px;
    }
}

.hero__title {
    font-size: clamp(1.8rem, 5.1vw, 6rem);
    letter-spacing: -1.2px;
    line-height: 1;
}

@media only screen and (max-width: 480px) {
    .hero__title {
        line-height: 1.2;
    }
}

.hero__subtitle {
    font-size: 1rem;
    margin-top: 20px;
} 

@media only screen and (max-width: 480px) {
    .hero__subtitle {
        font-size: 0.8rem;
    }
}