.marquee__wrapper {
    font-size: 6vw;
    line-height: .8;
    letter-spacing: -.15vw;
    padding-top: 1.5vw;
    overflow: hidden;
    display: flex;
}

.headline {
    flex: 0 0 auto;
    min-width: 100%;
    z-index: 1;
    display: flex;
    animation: scroll 30s linear 0s infinite;
}

.marquee__wrapper:nth-child(2) .headline{
    animation-duration: 36s;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
