.newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 2.7777777778vw;
    width: 94.444444443vw;
}

@media only screen and (max-width: 480px) {
    .newsletter {
        flex-direction: column;
        align-items: normal;
        margin: 25px;
        width: fit-content;
    }
}

.newsletter__content  {
    font-size: 2.91666666665vw;
    margin: 1.6em 0;
}

@media only screen and (max-width: 480px) {
    .newsletter__content {
        font-size: 1.6rem;
        line-height: 1.25;
    }
}

.newsletter__signup {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 480px) {
    .newsletter__signup {
        width: fit-content;
    }
}

.newsletter__input {
    -webkit-appearance: none;
    border: 0.0694444444vw solid $color-accent;
    border-radius: 3.472222222vw;
    caret-color: $color-accent;
    // This was causing issue of background and foreground not having sufficient contrast ratio
    // color: $color-orange;
    font-size: .6944444444vw;
    letter-spacing: .06em;
    text-transform: uppercase;
    margin-right: 0.5555555555vw;
    padding: 1.111111111vw 1.9444444443vw;
    width: 18.1249999988vw;
}


@media only screen and (max-width: 480px) {
    .newsletter__input {
        border-radius: 27.47222222222vw;
        font-size: 0.5rem;
        margin-right: 1vw;
        padding: 5vw 6vw;
        height: 10vw;
        width: 60vw;
    }
}

.newsletter__submit  {
    border: 0.0694444444vw solid $color-accent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 3.6805555553vw;
    width: 3.6805555553vw;
    transition: border .6s cubic-bezier(.165,.84,.44,1);
}


@media only screen and (max-width: 480px) {
    .newsletter__submit {
        height: 10vw;
        width: 10vw;
    }
}

.newsletter__submit>svg {
    stroke: $color-orange;
    width: 40%;
}

.newsletter__messages {
    margin-top: 0.6944444444vw;
    text-align: right;
    width: 100%;
}

.newsletter__message.newsletter__messages--success {
    color: #036803ad;
}

.newsletter__message.newsletter__messages--error {
    color: $color-accent;
}