.spotlight {
    margin: 8.4vw 9.8vw;
}

@media only screen and (max-width: 480px) {
    .spotlight {
        margin: 25px;
    }
}

.spotlight__subtitle {
    font-size: 0.8vw;
    text-transform: uppercase;
}

.spotlight__title {
    margin-top: 3vw;
    margin-left: -0.5vw;
    font-size: 4.9999997vw;
    letter-spacing: -.02em;
    word-spacing: -.02em;
    line-height: 1;
}

@media only screen and (max-width: 480px) {
    .spotlight__title {
        font-size: 1.6rem;
        line-height: 1.25;
    }
}

.spotlight__slider__controls {
    height: 20vh;
}

@media only screen and (max-width: 480px) {
    .spotlight__slider__controls {
        display: none;
    }
}

.spotlight__slider__items {
    display: flex;
    gap: 3vw;
    padding: 0;
}

.spotlight__slider__item {
    background: rgba(0, 0, 0, 0.04);
}

@media only screen and (max-width: 480px) {
    .spotlight__slider__items {
        height: 44vh;
        margin-top: 10vh;
        margin-bottom: 15vh;
        justify-content: center;
    }

    .spotlight__slider__item:not(:first-child) {
        display: none;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1000px) {
    img, picture {
        height: auto;
    }
}

.spotlight__slider__item:nth-child(1) {
    height: 254px;
}

.spotlight__slider__item:nth-child(2) {
    height: 600px;
}

.spotlight__slider__item:nth-child(3) {
    height: 420px;
}

.spotlight__slider__img {
    display: initial;
    width: 100%;
    height: 100%;
    object-fit: cover;
}