.standard {
  margin: 1.5vw;
  padding-bottom: 8.3333333vw;
}

@media only screen and (max-width: 480px) {
  .standard {
    margin: 25px;
  }
}

.standard__subtitle {
  font-size: $font-vw-xs;
  text-transform: uppercase;
}

.standard__content {
    width: 53.5vw;
    margin: 1.5vw 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-width: 480px) {
  .standard__content {
    width: 100%;
  }
}

.standard__heading {
    font-size: $font-vw-l;
    line-height: 1.14;
    letter-spacing: -.05vw;
}

@media only screen and (max-width: 480px) {
  .standard__heading {
    font-size: $font-rem-l;
  }
}

.standard__body {
    font-size: $font-vw-s;
    letter-spacing: .02em;
    line-height: 2;
}

@media only screen and (max-width: 480px) {
  .standard__body {
    font-size: $font-rem-s;
    margin-right: 10vw;
  }
}