.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .text-section {
        margin: 0 25px;
        text-align: left;
    }
}

.text-section__heading {
    font-size: $font-vw-xl;
    letter-spacing: -.02em;
    word-spacing: -.02em;
    line-height: 1;
    margin-bottom: 4.37499999vw;
}

@media only screen and (max-width: 480px) {
    .text-section__heading {
        font-size: $font-rem-l;
        line-height: 1.25;
        margin-bottom: 15vw;
    }
}

.text-section__description {
    font-size: $font-vw-s;
    letter-spacing: .02em;
    line-height: 2;
}

@media only screen and (max-width: 480px) {
    .text-section__description {
        font-size: $font-rem-s;
        margin-right: 30vw;
    }
}