button {
	color: inherit;
	cursor: pointer;
}
    
button {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: baseline;
    background: 0 0;
    border: 0;
    /* -webkit-appearance: none; */
    -moz-appearance: none;
    appearance: none;
}

button, input, select, textarea {
    font: inherit;
    border-radius: 0;
    box-shadow: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 0;
}

button, input, select, textarea {
    -webkit-appearance: none;
    background: 0 0;
}

video {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

.video {
    opacity: 1;
    -o-object-fit: contain;
    object-fit: contain;
}

.gradient, .video {
    transition: opacity .25s cubic-bezier(.25,.25,.75,.75);
}

.video-player {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    color: #fff;
    background: #0d0e13;
    /* cursor: none; */
}

.video-player.is-idle {
    cursor: pointer;
}
 
.video {
    opacity: 1;
    -o-object-fit: contain;
    object-fit: contain;
}

.gradient,
.video {
    transition: opacity 0.25s cubic-bezier(0.25, 0.25, 0.75, 0.75);
} 

.gradient {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(13, 14, 19, 0) 70%, #0d0e13);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
}
 
.is-idle .gradient {
    opacity: 0.6;
}
 
.controls {
    position: absolute;
    align-items: center;
    display: flex;
    z-index: 1;
    transition: opacity 0.25s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    opacity: 0;
}
 
@media (min-width: 601px) {
    .controls {
            left: 24.65278vw;
            right: 24.65278vw;
            bottom: 3.47222vw;
    }
}
 
.is-idle .controls {
    opacity: 1;
}
 
.is-touch .controls {
    display: none;
}
 
.mute,
.pause,
.play {
    font-family: Suisse Intl;
    /* font-size: 3.73333vw; */
    font-size: 1vw;
    line-height: 5.6vw;
    letter-spacing: 0.02667vw;
    position: relative;
    will-change: transform;
    line-height: 1.38889vw;
}
 
.mute:after,
.pause:after,
.play:after {
    position: absolute;
    left: 0;
    bottom: -2px;
    content: "";
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    will-change: transform;
    background: currentColor;
    transform-origin: right center;
    transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
}
 
@media (hover: hover) {
    .mute:hover:after,
    .pause:hover:after,
    .play:hover:after {
            transform: scaleX(1);
            transform-origin: left center;
    }
}
 
.mute {
    margin-left: auto;
}
 
.timeline {
    position: absolute;
    z-index: 2;
}
 
@media (min-width: 601px) {
    .timeline {
            left: 4.86111vw;
            width: 40.625vw;
            height: 1.38889vw;
    }
}
 
.timeline:after {
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.13889vw;
    background: hsla(0, 0%, 100%, 0.2);
    content: "";
}
 
.progress,
.range,
.timeline:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
 
.progress,
.range {
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
 
@media (min-width: 601px) {
    .progress,
    .range {
            left: 0;
            width: 40.625vw;
            height: 0.13889vw;
    }
}
 
.progress {
    background: none;
    pointer-events: none;
}
 
.progress::-webkit-progress-bar {
    background: none;
}
 
.progress::-webkit-progress-value {
    background: #fff;
}
 
.progress::-moz-progress-bar {
    background: none;
}
 
.range {
    z-index: 1;
    background: transparent;
}
 
.range::-webkit-slider-thumb {
    width: 1.52778vw;
    height: 1.52778vw;
    -webkit-appearance: none;
}
 
.range:focus {
    outline: none;
}
 
.range::-moz-range-track {
    opacity: 0;
}
 
.range::-ms-track {
    width: 100%;
    color: transparent;
    background: transparent;
    border-color: transparent;
}
 
.range::-moz-range-thumb {
    width: 1vw;
    height: 1vw;
    border: none;
    background: transparent;
}
 
.range::-ms-thumb {
    width: 1vw;
    height: 1vw;
    background: transparent;
}
 